<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Privacy</title>

</head>

<body>
    <h1>Privacy</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, incidunt asperiores reprehenderit expedita
            obcaecati quidem voluptatibus error, veritatis natus dolores enim necessitatibus in voluptate cum nihil!
            Alias aspernatur recusandae labore.
        </p>
    </div>

    <footer>
        <div>
            <a href="/">Go Back</a>
        </div>
    </footer>

</body>

</html>