
body {
    --palette-dark: #283739;
    --palette-lighter: #2c5d63;
    --palette-light: #a2c11c;
    --palette-contrast: #e0e0e0;
    background-color:  var(--palette-dark);
    color: var(--palette-light);
    font-size: 2rem;
    padding-right: 1vh;
    padding-left: 1vh;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: block;
    position: absolute;
   
    h1 {
        box-sizing: border-box;
        margin-top: 25vh;
        text-align: center;
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
        text-align: left;
        margin-left: 10wv;
    }
    
    .madeBy {
        text-align: right;
        font-size: 1rem;
    }

    div {
        p {
            font-size: 1rem;
        }
    }

    .startSession{
        box-sizing: border-box;
        background-color: var(--palette-light);
        border-radius: 8px;
        width: 75%;
        margin-left: 12.5%;
        margin-top: 25vw;
    }

    footer {
        background-color: var(--palette-lighter);
        box-sizing: border-box;
        flex-direction: row;
        width: 100%;
        display: flex;
        font-size:  1rem;
        align-content: space-between;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        a {
            color: var(--palette-contrast);
            text-decoration: none;
            font-weight: bold;
            
    };

    
    }
}

.flexbox_container {
    display: flex;
}